.date{
    padding: 0!important;
    text-align: center;
    .datePicker{
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
}



@import '../../../index.scss';

.login{
  font-size: 1rem;
  font-style: italic;
  color: $text-dark-color;
  &:hover {
    transition: all 0.3s;
    color: $pink-primary;
    font-style: normal;
  }
}

.ngaySinh{
  font-size: 16px;
  margin-right: 20px ;

}

.signUp{
margin: auto;
}

.btnPrimary {
    @extend .btnPrimary;
}
.cursor{
    cursor: pointer;
}


@media only screen and (max-width:1024px) {
  .datePicker{
    width: 30%;
  }
}