.moDau{
    font-size: 20px;
    padding: 22px 0px 20px;
}
.gioiThieu{
    font-size: 14px;
    margin: 0 8px;
    padding: 8px;
    border-right: 1px solid #dddddd;
}
.chiTiet{
    font-size: 14px;
    margin: 0 8px;
    padding: 8px;
}

.choThue, .ngonNgu{
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    padding: 12px;
    font-weight: 600;
    a{
        text-decoration: none;
    }
    &:hover{
        transition: color 250ms ease;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
}

.user{  
    padding: 5px 5px 5px 12px;
    background: transparent;
    margin: 0;
    text-align: inherit;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    a{}
    .danhMuc i{
        width: 16px;
        height: 16px;
    }
}
.cursor {
    cursor: pointer;
  }

