@import "../../../index.scss";

.sideBar {
  min-height: calc(100vh - 70px);
  background-color: $bg-dark-color;
  position: sticky;
  top: 0;
  padding: 10px 0 10px 10px;
  color: $bg-light-color;
  .userPage {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: $bg-light-color;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: $pink-primary;
      font-size: 1.5rem;
      font-weight: 600;
      &::before {
        content: "";
        border-left: 2px solid rgba(82, 82, 82, 0.8);
        position: absolute;
        right: -11%;
        top: calc(50% - 10px);
        width: 0;
        height: 20px;
      }
    }
    span {
      font-size: 1rem;
      font-weight: 300;
      margin-left: 1.5rem;
    }
  }
  .footer {
    margin-top: 20px;
    list-style: none;
    padding-left: 1rem;
    .footerItem {
      padding: 10px;
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .icon {
        transform: rotate(90deg);
        transition: all 0.35s;
      }
    }
    .action {
      background-color: $pink-primary;
    }
    .listItem {
      .listItemDetail {
        padding: 10px 0;
        color: $bg-light-color;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
